<div class="jumbotron bg-white text-center">
  <h1 class="display-4">Corona Covid-19 Tracker Country Wise</h1>
  <hr>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid deserunt harum ipsam officiis repellendus vel?</p>
  <hr class="my-4">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ducimus eligendi eos, fugiat ipsa laudantium possimus praesentium quae quas velit. Autem delectus dolor eos eum maxime perspiciatis sed suscipit, tempora.</p>
</div>
